<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66ebcb">  <td>21/08/29 03:34:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAccountTest.openBrowser()[pri:0, instance:com.createaccount.test.CreateAccountTest@233fe9b6]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@524241174</td>   <td></td> </tr>
<tr bgcolor="66ebcb">  <td>21/08/29 03:34:44</td>   <td>5499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccountTest.runCreateAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.createaccount.test.CreateAccountTest@233fe9b6]">runCreateAccount</td> 
  <td>main@524241174</td>   <td></td> </tr>
<tr bgcolor="66ebcb">  <td>21/08/29 03:34:48</td>   <td>10141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAccountTest.openBrowser()[pri:0, instance:com.createaccount.test.CreateAccountTest@233fe9b6]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@524241174</td>   <td></td> </tr>
<tr bgcolor="66ebcb">  <td>21/08/29 03:34:53</td>   <td>14910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccountTest.runCreateAccount(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.createaccount.test.CreateAccountTest@233fe9b6]">runCreateAccount</td> 
  <td>main@524241174</td>   <td></td> </tr>
</table>
